body{
    margin: 0;
    padding: 0;
}
.top{
    background-image: url(./donation13.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    text-align: center;
}
.top-h{
    padding-top: 80px;
    font-weight: bold;
    color: rgb( 45, 10, 245);
}
.top-p{
    color: aliceblue;
}
.anchor-tag{
    text-align: center;
    color: goldenrod;
    padding:
    color: white;
    font-size: 16px;
}

.hr{
    text-align: center;
}

.a-tag{
    text-decoration: none;
}
.second-h{
    text-align: center;
}
.
}
.ul-tag{
    text-align: center;
    padding: 5px;
}
.button1{
    padding: 50px;
    color:black;
    font-weight: bold;
    background-color: #4CAF50;
    text-align: center;
}
.button2{
    padding: 50px;
    background-color: brown;
    color:black;
    font-weight: bold;
    background-color: #af604c;
    text-align: center;
}.button3{
    padding: 50px;  color:black;
    font-weight: bold;
    background-color: #4CAF50;
    text-align: center;

}.button4{
    padding: 50px;
    color:black;
    font-weight: bold;
    background-color:#4CAF50;
    text-align: center;
}

.section2-p{
    text-align: center;
}
.section2{
    display: flex;
}
.frame1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1%;
    padding: left 10px; ;
 box-shadow: 10px  10px 40px gray;
  background-color: aqua;
  border-radius: 5px;
}

.frame2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1%;
    padding: left 10px; ;
 box-shadow: 10px  10px 40px gray;
 background-color: aquamarine;
 border-radius: 5px;
}.frame3{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1%;
    padding: left 10px; ;
 box-shadow: 10px  10px 40px gray;
 background-color: coral;
 border-radius: 5px;
}
.section2-3{
    display: flex;
    padding-top: 60px;
}
.half-widht{
    width:50%;
    height: 20px;
   display: flex;
}
.half-widh img{
    width: 50%;
    height: 100px;
    padding: left 5px;
}
.container{
    text-align: center;
    font-size: 35px;
}
footer{
    background-color: black;
    width: 100%;
    height: 100px;

    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-contain{
    text-align: center;
    padding: top ;
    color: #e5eb76;
}