body{
    margin: 0;
    padding: 0;
}
.top{
    background-image: url(./donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    text-align: center;
}
.top-h{
    padding-top: 80px;
    font-weight: bold;
    color:rgb(245, 13, 44);
}
.top-p{
    color: aliceblue;
}
.btn{
    background-color: orange;
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5
    text-align:center;
}
.btn:hover{
    background-color: #5a2391;
    color:aliceblue;


.a-tag{
    text-decoration: none;
}}
.second-hp{
    text-align: center;
    font-size: 25px;
    font-weight:bold ;
}
.contant-1{
    text-align: center;
    padding: 5px;
}
.button1{
    padding: 50px;
    color:black;
    font-weight: bold;
    background-color:aqua ;
    text-align: center;
}
.button2{
    padding: 50px;
    background-color:blueviolet ;
    color:black;
    font-weight: bold;

}.button3{
    padding: 50px;  color:black;
    font-weight: bold;
    background-color:aqua ;

}.button4{
    padding: 50px;
    color:black;
    font-weight: bold;
    background-color:aqua;
}
.contant-bootom{
    text-align: center;
    padding: 0%;
}



.section2-h{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.section2-p{
    font-size: 20px;
    color: rgb(226, 9, 38);
}
.section2{
    display: flex;
}
.frame1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1%;
    padding: left 10px; ;
 box-shadow: 10px  10px 40px gray;
  background-color: aqua;
  border-radius: 5px;
}

.frame2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1%;
    padding: left 10px; ;
 box-shadow: 10px  10px 40px gray;
 background-color: aquamarine;
 border-radius: 5px;
}.frame3{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1%;
    padding: left 10px; ;
 box-shadow: 10px  10px 40px gray;
 background-color: coral;
 border-radius: 5px;
}
.about{
    display: flex;
    padding-top: 50px;
    padding-left: 11%;
}
.img-write{
    width: 50%;
     padding-right: 0%;
     border-radius: 66px;
}
.img-write img{
    width: 50%;
    height: 100%;
    padding-right: 3px;
    object-fit: scale-dow;
}
}
.container{
    text-align: center;
    font-size: 35px;
}
.container{
    text-align: center;
    font-size: 35px;
}
footer{
    background-color: black;
    width: 100%;
    height: 100px;

    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-contain{
    text-align: center;
    padding: top ;
    color: #e5eb76;
}
.emai-btn{
    padding: 10px 13px;
    background-color: cadetblue;
}
.sub-btn{
    background-color: orange;
    height: 20px;
    width: 140px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5
    text-align:center
}
.sub-btn:hover{
    background-color: #5a2391;
    color:aliceblue;
}